<div class="container-fluid shadow rounded border-top">
    <div class="row text-center">
        <p class="fs-1">
            Calculate Months Needed
        </p>
    </div>
    <form [formGroup]="form" (submit)="submitForm()">
        <div class="row">
            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="amount" formControlName="amount" 
                [ngbTooltip]="form.get('amount')?.invalid && form.get('amount')?.touched ? 'Invalid, amount cannot be empty' : ''" 
                [class.is-invalid]="form.get('amount')?.invalid && form.get('amount')?.touched">
            </div>
            <div class="mb-3">
                <label for="interestRate" class="form-label">Interest Rate (in %)</label>
                <input type="number" class="form-control" id="interestRate" formControlName="interestRate" 
                [ngbTooltip]="form.get('interestRate')?.invalid && form.get('interestRate')?.touched ? 'Invalid, interestRate cannot be empty' : ''" 
                [class.is-invalid]="form.get('interestRate')?.invalid && form.get('interestRate')?.touched">
            </div>
            <div class="mb-3">
                <label for="payment" class="form-label">Payment Per Period</label>
                <input type="number" class="form-control" id="payment" formControlName="payment" 
                [ngbTooltip]="form.get('payment')?.invalid && form.get('payment')?.touched ? 'Invalid, payment cannot be empty' : ''" 
                [class.is-invalid]="form.get('payment')?.invalid && form.get('payment')?.touched">
            </div>
            <div class="mb-3">
                <label for="frequency" class="form-label">Frequency</label>
                <select id="frequency" class="form-select" formControlName="frequency" 
                [ngbTooltip]="form.get('frequency')?.invalid && form.get('frequency')?.touched ? 'Invalid, frequency cannot be empty' : ''" 
                [class.is-invalid]="form.get('frequency')?.invalid && form.get('frequency')?.touched">
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>
        </div>
        @if(duration.value){
            <div class="row text-center">
                <p class="fs-4 fst-italic" [@fadeIn]="duration.value">
                    Your final payment date is {{duration.value}}
                </p>
            </div>
        }

        @if(!validSubmission){
            <ngb-alert type="danger">
                <p class="fs-6 fw-bold">
                    Not all fields are valid
                </p>
            </ngb-alert>
        }
        <div class="row text-end">
            <div class="col mb-3">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
        </div>   
    </form>
</div>