<div class="container">
    <div class="row justify-content-center">
        <form [formGroup]="form" (submit)="submitForm()">
            <div class="col col-8">
                <div class="row">
                    <div class="form-floating m-2">
                        <input type="text" class="form-control" id="floatingName" formControlName="name" 
                        [class.is-invalid]="form.get('name')?.invalid && form.get('name')?.touched">
                        <label for="floatingName">Name</label>
                        @if(form.get('name')?.invalid && form.get('name')?.touched){
                            <p class="text-danger">Invalid Name!</p>
                        }
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating m-2">
                        <input type="date" class="form-control" id="floatingDate" formControlName="date" 
                        [class.is-invalid]="form.get('date')?.invalid && form.get('date')?.touched">
                        <label for="floatingDate">Date</label>
                        @if(form.get('date')?.invalid && form.get('date')?.touched){
                            <p class="text-danger">Invalid Date!</p>
                        }
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating m-2">
                        <input type="number" class="form-control" id="floatingAmount" formControlName="amount" 
                        [class.is-invalid]="form.get('amount')?.invalid && form.get('amount')?.touched">
                        <label for="floatingAmount">Amount</label>
                        @if(form.get('amount')?.invalid && form.get('amount')?.touched){
                            <p class="text-danger">Amount must be greater than 0</p>
                        }
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating m-2">
                        <select class="form-select" id="floatingCategory" formControlName="category" 
                        [class.is-invalid]="form.get('category')?.invalid && form.get('category')?.touched">
                            <option value="shopping">Shopping</option>
                            <option value="entertainment">Entertainment</option>
                            <option value="utilities">Utilities</option>
                            <option value="needs">Needs</option>
                            <option value="dining">Dining</option>
                            <option value="others">Others</option>
                        </select>
                        <label for="floatingCategory">Category</label>
                        @if(form.get('category')?.invalid && form.get('category')?.touched){
                            <p class="text-danger">Category cannot be empty</p>
                        }
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating m-2">
                        <textarea class="form-control" id="floatingDescription" formControlName="description" 
                        [class.is-invalid]="form.get('description')?.invalid && form.get('description')?.touched"></textarea>
                        <label for="floatingDescription">Description</label>
                        @if(form.get('description')?.invalid && form.get('description')?.touched){
                            <p class="text-danger">Description cannot be empty</p>
                        }
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit">Send Update <i class="bi bi-bookmark-check-fill"></i></button>
                </div>
            </div>
        </form>
      
    </div>
  </div>