<div class="container-fluid">
    <div class="row">
        <div class="col col-6 text-center">
            <h1 class="display-6 text-secondary">Total Spending so far</h1>
            <p class="display-1">
                {{currentSpending}}
            </p>
            <hr>
            <h1 class="display-6 text-secondary">Highest Purchase</h1>
            <p class="display-1">{{maxSpending}} on {{maxCategory}}</p>
        </div>
        <div class="col col-6">
            <app-barchart></app-barchart>
        </div>
    </div>
    <div class="row">
        <app-linechart></app-linechart>
    </div>
</div>
