<ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis' [dataSource]='chartData' [title]="title">
    <e-series-collection>
        <e-series type='Column' xName='month' yName='shopping' name='Shopping'></e-series>
        <e-series type='Column' xName='month' yName='entertainment' name='Entertainment'></e-series>
        <e-series type='Column' xName='month' yName='utilities' name='Utilities'></e-series>
        <e-series type='Column' xName='month' yName='needs' name='Needs'></e-series>
        <e-series type='Column' xName='month' yName='wants' name='Wants'></e-series>
    </e-series-collection>
</ejs-chart>